<footer class="mdl-mega-footer">
    <div class="mdl-mega-footer--middle-section">
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer--heading">Trafikito</h1>
            <ul class="mdl-mega-footer--link-list">
                <li><a href="https://trafikito.com/">Trafikito.com</a></li>
                <li><a href="https://trafikito.com/servers">Dashboard</a></li>
                <li><a href="https://trafikito.com/widgets">Widgets store</a></li>
                <li><a href="https://trafikito.com/servers">Dashboard</a></li>
                <li><a href="https://trafikito.com/price">Price</a></li>
                <li><a href="https://trafikito.com/help">Help</a></li>
                <li><a href="https://trafikito.com/tos">TOS & Privacy</a></li>
                <li><a href="https://github.com/Trafikito/trafikito.com/issues/new">Report an issue</a></li>
            </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer--heading">Your Account</h1>
            <ul class="mdl-mega-footer--link-list">
                <li><a href="https://trafikito.com/user/register">Register</a></li>
                <li><a href="https://trafikito.com/user/login">Login</a></li>
                <li><a href="https://trafikito.com/user/recover">Password recovery</a></li>
            </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer--heading">Social</h1>
            <ul class="mdl-mega-footer--link-list t-footer-social-links">
                <li>
                    <a
                            href="https://www.youtube.com/channel/UCofioaADtesyD75204ngeoQ"
                            target="_blank"
                            style="margin: 3px;"
                    >
                        <img
                                src="https://d4o5fxgxpjzlh.cloudfront.net/images/social/youtube.svg"
                                style="width: 32px; height: 32px;"
                        >
                        Youtube
                    </a>
                </li>

                <li>
                    <a
                            href="https://www.instagram.com/trafikito/"
                            target="_blank"
                            style="margin: 3px;"
                    >
                        <img
                                src="https://d4o5fxgxpjzlh.cloudfront.net/images/social/instagram.svg"
                                style="width: 32px; height: 32px;"
                        >
                        Instagram
                    </a>
                </li>
                <li>
                    <a
                            href="https://twitter.com/trafikito"
                            target="_blank"
                            style="margin: 3px;"
                    >
                        <img
                                src="https://d4o5fxgxpjzlh.cloudfront.net/images/social/twitter.svg"
                                style="width: 32px; height: 32px;"
                        >
                        Twitter
                    </a>
                </li>
                <li>
                    <a
                            href="https://www.facebook.com/Trafikito/"
                            target="_blank"
                            style="margin: 3px;"
                    >
                        <img
                                src="https://d4o5fxgxpjzlh.cloudfront.net/images/social/facebook.svg"
                                style="width: 32px; height: 32px;"
                        >
                        Facebook
                    </a>
                </li>
                <li>
                    <a
                            href="https://www.linkedin.com/company/trafikito/"
                            target="_blank"
                            style="margin: 3px;"
                    >
                        <img
                                src="https://d4o5fxgxpjzlh.cloudfront.net/images/social/linkedin.svg"
                                style="width: 32px; height: 32px;"
                        >
                        LinkedIn
                    </a>
                </li>

            </ul>
        </div>

        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer--heading">Trafikito</h1>
            <p>
                Monitor CPU, RAM etc. & get emails when there’s a problem. Plus monitor the output of any command and
                makes any API call on event.
            </p>
        </div>
    </div>
</footer>