<div style="margin: 48px auto; width: 300px; background-color: #fff; border-radius: 16px; padding: 12px 32px;">
    <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input " type="text" id="searchInput">
        <label class="mdl-textfield__label" id="searchLabel" for="searchInput">Search...</label>
    </div>
    <div id="searchResults" style="max-height: 300px; overflow-y: scroll"></div>
</div>

<script type="application/javascript">
  $(document).ready(() => {
    let searchJson = localStorage.getItem('searchJson') || null;
    if (localStorage.getItem('searchJsonTTL') < Date.now()) {
      searchJson = null;
    }
    if (searchJson === null) {
      $.getJSON('/support/search.json', (data) => {
        if (data) {
          localStorage.setItem('searchJson', JSON.stringify(data));
          localStorage.setItem('searchJsonTTL', Date.now() + (24 * 60 * 60 * 1000));
        }
        searchJson = data;
      });
    } else {
      searchJson = JSON.parse(searchJson);
    }

    let options = {
      keys: [{
        name: 'excerpt',
        weight: 0.3,
      }, {
        name: 'title',
        weight: 0.7,
      }, {
        name: 'tags',
        weight: 0.7,
      }],
    };
    const fuseInstance = new Fuse(searchJson, options);
    const searchInput = $('#searchInput');
    const searchLabel = $('#searchLabel');
    const searchResults = $('#searchResults');

    searchInput.on('keyup', () => {
      let filteredItems = [];

      let results = fuseInstance.search(searchInput.val());

      results && results.length && results.forEach((result) => {
        filteredItems.push(`<li class="mdl-list__item"><a href="${result.url}">${result.title}</a></li>`);
      });

      if (filteredItems.length === 0) {
        searchResults.hide();
        searchLabel.show();
      } else {
        searchResults.show().html(`<ul class='mdl-list'>${filteredItems.join('\n')}</ul>`);
        searchLabel.hide();
      }
    });
  });
</script>