---
layout: default
---

<div class="mdl-grid">

    {%- for post in paginator.posts -%}

    {%- if post.featured_image -%}
    {% capture imgFeatured %}/images/featured-image/{{post.featured_image}}{% endcapture %}
    {%- endif -%}
    <div class="mdl-cell mdl-cell--3-col">
        <div class="t-post-card-full mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <a class="post-link" href="{{ post.url | relative_url }}">
                    <h2 class="mdl-card__title-text">{{ post.title | escape }}</h2>
                </a>
            </div>
            {%- if post.featured_image -%}
            <div class="t-center">
                <a class="post-link" href="{{ post.url | relative_url }}">
                    <img
                            class="t-img-in-post mdl-shadow--4dp"
                            src="{{ imgFeatured | absolute_url }}"
                            alt="{{ post.title | escape }}"
                    >
                </a>
            </div>
            {%- endif -%}
            <div class="mdl-card__supporting-text t-excerpt">
                {{ post.excerpt | remove: '<p>' | remove: '</p>' | remove: '<h1>' | remove: '</h1>'| remove: '<h2>' | remove: '</h2>'| remove: '<h3>' | remove: '</h3>' }}
            </div>
        </div>
    </div>

    {%- endfor -%}

</div>

<div class="t-pagination">
    <a
            href="{{ paginator.previous_page_path | relative_url }}"
            class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab {% if paginator.previous_page %}mdl-button--primary{% endif %}"
    >
        <i class="material-icons">navigate_before</i>
    </a>

    <span class="t-pagination-current">Showing page {{ paginator.page }} of {{ paginator.total_pages }}</span>

    <a
            href="{{ paginator.next_page_path | relative_url }}"
            class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab {% if paginator.next_page %}mdl-button--primary{% endif %}"
    >
        <i class="material-icons">navigate_next</i>
    </a>
</div>
