body {
}

.main_holder {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content_holder {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}