.popover {
  width: 100%;
  max-width: 700px;
  padding: 0 12px 6px;
  margin: 6px;
}

.results div b {
  background-color: #FFEB3B;
  padding: 0;
  font-weight: 500;
}

.result_row {
  margin: 6px 0;
}
