.title {
  @media (max-width: 560px) {
    padding: 3px 0 3px 12px;
  }
}

.results_match div b {
  background-color: #FFEB3B;
  padding: 0;
  font-weight: 500;
}

.result_row {
  margin: 6px 0;
}

.result_row_glossary {
  padding: 6px;
}

.fab_root {
  background: #ffffff !important;
  color: #607d8b !important;
}