---
---
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #1756a9;
}

.mdl-layout__header-row {
  padding-left: 40px;
}

.mdl-layout__tab-bar-button {
  display: none;
}

.mdl-layout__tab-bar-container {
  height: 64px;
}

.t-link-inherit, .t-link-inherit:visited, .t-link-inherit:focus,
.t-link-inherit *, .t-link-inherit:visited *, .t-link-inherit:focus * {
  color: inherit;
  text-decoration: inherit;
}

.t-link-inherit:hover, .t-link-inherit:hover * {
  text-decoration: underline;
}

.navigation-top a, .navigation-top a:visited {
  color: #ECEFF1 !important;
}

.navigation-top a:hover {
  color: #CFD8DC !important;
}

.t-excerpt {
  padding: 12px 12px;
  width: calc(100% - 24px);
  margin: 0;
}

.t-footer-social-links li {
  margin: 6px 0;
}

.t-footer-social-links li a {
  line-height: 32px;
}

.t-margin-center {
  margin-left: auto;
  margin-right: auto;
}

.t-center {
  text-align: center;
}

.t-img-in-post {
  max-width: 400px;
  width: calc(100% - 24px);
  height: auto;
  margin: 24px auto;
}

.t-m24 {
  margin: 24px;
}

.t-m12 {
  margin: 12px;
}

.t-m6 {
  margin: 6px;
}

.t-youtube {
  height: calc((100vw - 54px) * 0.5625);
  width: calc(100vw - 54px);
  margin: 24px auto;
  max-width: 500px;
  max-height: 282px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}

blockquote {
  display: contents;
  margin: 24px 6px 24px 32px;
}

.t-post-card-full {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.t-post-card-full a {
  text-decoration: none;
}

.t-post-card-full a:hover {
  text-decoration: underline;
}

.t-post-container {
  max-width: 900px;
  margin: 0 auto;
}

.t-post {
  background: #FFF;
  padding: 12px;
  margin: 6px;
  color: #263238;

  @media (min-width: 600px) {
    padding: 32px;
    margin: 24px;
  }
}

.t-date {
  color: #B0BEC5;
  margin-bottom: 24px;
  font-style: italic;
  font-size: .9em;
  @media (max-width: 600px) {
    text-align: center;
  }
}

.t-post-title {
  font-size: 41px;
  margin: 24px 0 0;

  @media (max-width: 600px) {
    font-size: 24px;
    text-align: center;
    margin: 24px 6px 0;
  }
}

.t-menu-price {
  @media (max-width: 350px) {
    display: none;
  }
}

.t-post-content h2 {
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.t-post-content h3 {
  font-size: 17px;
  line-height: 24px;
  font-weight: lighter;
}

.t-quote {
  font-style: italic;
  border-left: 2px solid #CFD8DC;
  padding-left: 12px;
  margin: 24px;
  font-size: 1.2em
}

.t-code {
  padding: 3px 6px;
  border-radius: 3px;
  background-color: #ECEFF1;
  font-family: monospace;
}

.t-pagination {
  margin: 24px auto;
  width: 300px;
  text-align: center;
}

.t-pagination-current {
  margin: 0 12px;
}
